.bannerTaller img{
    width: 100%;
}

.taller h1{
    padding-bottom: 5%;
}

.taller{
    display: flex;
    justify-content: center;
}

.tallerOnline {
    margin: 5%;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background: linear-gradient(180deg, #FEE2F9 0%, rgba(239, 227, 241, 0.16) 100%);
    border-radius: 15px;
}

.tallerPresencial {
    margin: 5%;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background: linear-gradient(180deg, #FEE2F9 0%, rgba(239, 227, 241, 0.16) 100%);
    border-radius: 15px;
}

