.productCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    width: 263px;
    height: 316px;

    border-radius: 15%;
    margin: 5%;
}

.productCard .productImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    
}
.productCard .productImage img{
    width: 220px;
    height: 164px;
}

.productCard .productInfo {
    margin: 0;
    padding: 0;
    width: 80%;

}
.productCard .productInfo{
    display: flex;
    align-items: left;
    flex-direction: column;
}

.productInfo p:last-child{
    padding-top: 15px;
    padding-bottom: 15px;
    font-style: italic;
}

.pb{
    display: flex;
    justify-content: space-between;
    min-width: 180px;
}

.price{
    padding-top: 40px;
}

.button {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

}

button{
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}


@media screen and (max-width:400px)
{.productCard{
    min-width: 220px;
}
h1{
    font-size: 16px;
}
}